@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR Bold';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

* {
    font-family: 'Noto Sans KR';
}

body {
    margin: 0;
    padding: 0;
}

textarea::-moz-selection { /* Code for Firefox */
    color: white;
    background: salmon;
}
  
textarea::selection {
    color: white;
    background: salmon;
}

header, main {
    margin: 20px auto 20px auto;
    width: 800px;
}

header {
    font-family: 'Noto Sans KR Bold';
    letter-spacing: -1.25px;
    color: #1d1a1a;
}

header h1 {
    font-size: 20pt;
    margin-bottom: 0;
}

p {
    text-align: left;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_underbar {
    width: 30px;
    height: 4px;
    background: #1d1d1d;
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea {
    font-family: 'Noto Sans KR';
    font-size: 11pt;
    border: 0;
    resize: none;
    border: 1px solid #ddd;
    width: 800px;
    height: 400px;
    outline: 0;
    padding: 25px;
    line-height: 25px;
}

#result {
    width: 100%;
    font-weight: 600;
    font-size: 20pt;
    letter-spacing: -1.25px;
    color: #1d1a1a;
    display: flex;
}

#count-all {
    text-align: right;
}

#count-selection {
    color: salmon;
    float: left; 
}

.info {
    width: 100%;
    font-size: 12pt;
    color:#aaa;
    letter-spacing: -1.25px;
    float: right;
    text-align: right;
}

table {
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans KR';
    letter-spacing: -1.25px;
    border: 1px solid #fff;
    font-size: 14pt;
    margin-top: 20px;
    margin-bottom: 20px;
}

th {
    background: #1d1d1d;
    font-weight: 400;
    color: #fff;
    padding: 10px;
}

td {
    background-color: #ededed;
    color: #1d1d1d;
    padding: 10px;
}

footer {
    width: 800px;
    margin: 60px auto 30px auto;
}

footer a {
    text-decoration: none;
    font-weight: 600;
    color: #1d1a1a;
    letter-spacing: -1px;
}